.box{

    height: 300px;
    width: 350px;
    border: black thin solid;
    background: red;
    
}
.container{
    display: flex;
    justify-content: space-between;
}
.button {


    display: block;
    color: #555555;
    font-weight: bold;
    border-radius: 2px;
    text-decoration: none;
    border: 1px solid;


}

.img1{
    margin-top: 150px;


}
.img2{
    margin-top: 100px;
}
.img3{
    margin-top: 100px;
}
.img21{
    margin-top: 100px;

}
.img22{
    margin-top: 100px;
}
.img23{
    margin-top: 100px;
}

.box1 {
    margin-top: 50px;
    padding-top: 30px;
}


.colhaut{

    display: flex;
    justify-content: center;
}
.containerh{
    background-image: url("../assets/img/2.png");
    height: fit-content;
}