#footer {
    z-index: 100;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.footer-top {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    border-top: 10px rgba(205, 174, 231, 1.0) solid;
    background-color: rgba(147, 98, 186, 1.0);
    width: 100%;
    display: flex;
    flex-direction: row;
}

.footer-bottom {
    display: flex;
    padding-left: 20px;
    width: 100%;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 1.0);

}

.footer-top p {
    font-size: 1.123;
    color: rgba(255, 255, 255, 1.0);
    margin: 0;
    line-height: 1em;
}
 .footer1{
     margin-bottom: 60px;
 }
