#header {
    z-index: 100;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 1.0);
}

.row-header {
    padding-top: 5px;
    border-top: 10px rgba(147, 98, 186, 1.0) solid;
    max-width: 100%;
    display: flex;
    flex-direction: row;
}

.spacer {
    display: flex;
    width: 60%;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.main-nav {
    width: 20%;
    display: flex;
    height: 50px;
    justify-content: space-between;
}

.main-nav img:hover {
    cursor: pointer;
}