/* .img-CAT {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/CAT-charteMini-2015-11-26.svg);
    padding: 0;
}

.img-alertOrange {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/alertOrange.svg);
    padding: 0;
}

.img-alertRed {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/alertRed.svg);
    padding: 0;
}

.img-annoucementLeft {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/annoucementLeft.svg);
    padding: 0;
}

.img-announcementChecked {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/announcementChecked.svg);
    padding: 0;
}

.img-announcementUnchecked {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/announcementUnchecked.svg);
    padding: 0;
}

.img-bg {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/bg.svg);
    padding: 0;
}

.img-blueBubble {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/blueBubble.svg);
    padding: 0;
}

.img-blueBubbleCircle {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/blueBubbleCircle.svg);
    padding: 0;
}

.img-btn {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/btn.svg);
    padding: 0;
}

.img-calendarBlue {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/calendarBlue.svg);
    padding: 0;
}

.img-calendarRed {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/calendarRed.svg);
    padding: 0;
}

.img-calendars {
    background-repeat: no-repeat;
    width: 100%;
    /* height: 32dp; 
    background-image: url(/assets/img/calendars.svg);
    padding: 0;
}

.img-cercle {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/cercle.svg);
    padding: 0;
}

.img-chrono {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/chrono.svg);
    padding: 0;
}

.img-circleFull {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/circleFull%202.svg);
    padding: 0;
}

.img-circleFull {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/circleFull.svg);
    padding: 0;
}

.img-circleFull2 {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/circleFull2-01.svg);
    padding: 0;
}

.img-close {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/close.svg);
    padding: 0;
}

.img-doc {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/doc.svg);
    padding: 0;
}

.img-down {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/down%2018.svg);
    padding: 0;
}

.img-down {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/down.svg);
    padding: 0;
}

.img-eyes {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/eyes.svg);
    padding: 0;
}

.img-green {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/green-check.svg);
    padding: 0;
}

.img-greenBubble {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/greenBubble.svg);
    padding: 0;
}

.img-greenBubbleCircle {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/greenBubbleCircle.svg);
    padding: 0;
}

.img-logo {
    background-image: url(/assets/img/logo%20natixis.png);
    padding: 0;
}

.img-moins {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/moins.svg);
    padding: 0;
}

.img-no {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/no.svg);
    padding: 0;
}

.img-off {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/off.svg);
    padding: 0;
}

.img-offBtn {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/offBtn.svg);
    padding: 0;
}

.img-offLong {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/offLong.svg);
    padding: 0;
}

.img-offWithText {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/offWithText.svg);
    padding: 0;
}

.img-on {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/on%20-%201%202.svg);
    padding: 0;
}

.img-on {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/on%20-%201.svg);
    padding: 0;
}

.img-on {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/on.svg);
    padding: 0;
}

.img-onLong {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/onLong.svg);
    padding: 0;
}

.img-orangeBubble {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/orangeBubble.svg);
    padding: 0;
}

.img-orangeBubbleCircle {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/orangeBubbleCircle.svg);
    padding: 0;
}

.img-pdf {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/pdf.svg);
    padding: 0;
}

.img-plus {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/plus.svg);
    padding: 0;
}

.img-progress {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/progress%20bar.svg);
    padding: 0;
}

.img-purpleBubble {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/purpleBubble.svg);
    padding: 0;
}

.img-redBell {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/redBell.svg);
    padding: 0;
}

.img-swicthOff {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/swicthOff.svg);
    padding: 0;
}

.img-swicthOn {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/swicthOn.svg);
    padding: 0;
}

.img-textOff {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/textOff.svg);
    padding: 0;
}

.img-up {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/up.svg);
    padding: 0;
}

.img-userBlue {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/userBlue.svg);
    padding: 0;
}

.img-userGreen {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/userGreen.svg);
    padding: 0;
}

.img-userGrey {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/userGrey.svg);
    padding: 0;
}

.img-userHead {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/userHead.svg);
    padding: 0;
}

.img-userPurple {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/userPurple.svg);
    padding: 0;
}

.img-waiter {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/waiter.svg);
    padding: 0;
}

.img-xls {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/xls.svg);
    padding: 0;
}

.img-yes {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/yes.svg);
    padding: 0;
} */