                #main {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    z-index: 100;
                }
                /* * {
                    box-sizing: border-box;
                } */
                
                .main-header {
                    z-index: 100;
                    position: sticky;
                    top: 65px;
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    justify-content: flex-start;
                    background-color: rgba(246, 250, 252, 1.0);
                }
                
                .buttons {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                }
                
                .tabs {
                    display: flex;
                    flex-direction: row;
                    width: 90%;
                    justify-content: flex-start;
                }
                
                .tab {
                    margin-top: 3px;
                    padding-left: 20px;
                    padding-top: 20px;
                    padding-right: 20px;
                    background-color: rgba(246, 250, 252, 1.0);
                }
                
                .tabs a {
                    text-decoration: none;
                    color: rgba(153, 166, 177, 1.0);
                }
                
                .tabs .active a {
                    color: rgba(22, 159, 219, 1.0);
                }
                
                .tabs:first-child {
                    margin-left: 5px;
                }
                
                .active {
                    color: rgba(22, 159, 219, 1.0);
                    border-top: 1px rgba(246, 250, 252, 1.0) solid;
                    border-left: 1px rgba(246, 250, 252, 1.0) solid;
                    border-right: 1px rgba(246, 250, 252, 1.0) solid;
                    background-color: rgba(255, 255, 255, 1.0);
                }
                
                .buttons button {
                    border: 0;
                    padding: 0;
                    width: 100%;
                    background-image: url(/assets/img/btn.svg);
                    background-repeat: no-repeat;
                    background-size: 200px;
                }
                
                .ribbon {
                    z-index: 100;
                    position: sticky;
                    top: 111px;
                    font-size: 14px;
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    justify-content: space-between;
                    background-color: rgba(246, 250, 252, 1.0);
                    flex-wrap: nowrap;
                    color: black;
                }
                
                .separator {
                    width: 1px;
                    border-left: 1px solid rgba(214, 224, 233, 1.0);
                }
                
                .img-refresh {
                    width: 20px;
                    margin-top: 18px;
                }
                
                .label {
                    border-radius: 20px;
                    background-color: rgba(214, 224, 233, 1.0);
                    height: 30px;
                    /* margin-top: 15px; */
                    margin: 15px 5px 5px 5px;
                    padding: 5px;
                }
                
                .label .active {
                    background-color: black;
                }
                
                .page {
                    display: flex;
                    flex-direction: row;
                }
                
                .img-cercle {
                    width: 18px;
                    line-height: 18px;
                    height: 18px;
                    border-radius: 50%;
                    text-align: center;
                    font-size: 18px;
                    border: 2px solid #666;
                    margin-top: 18px;
                    margin-right: 10px;
                    margin-left: 10px;
                }
                
                .img-cercle .colored {
                    border-color: cornflowerblue;
                }
                
                .img-up {
                    color: darkgrey;
                    margin-top: 18px;
                }
                
                .right-side {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    width: 100%;
                }
                
                select {
                    width: 50px;
                    height: 15px;
                    margin-top: 18px;
                }
                
                .row {
                    display: flex;
                    justify-content: space-evenly;
                    margin-left: 10px;
                }
                
                .row first {
                    display: flex;
                    justify-content: flex-start;
                }
                
                table {
                    display: grid;
                    border-collapse: collapse;
                    min-width: 100%;
                    font-size: 12px;
                    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
                }
                
                thead {
                    height: 50px;
                    position: sticky;
                    top: 161px;
                    display: contents;
                }
                
                tbody,
                tr {
                    display: contents;
                }
                
                tbody {
                    overflow-y: scroll;
                    max-height: 60%;
                }
                
                th,
                td {
                    padding: 1px;
                    overflow-y: scroll;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                
                th {
                    position: sticky;
                    top: 0;
                    background: #6c7ae0;
                    text-align: left;
                    font-weight: normal;
                    font-size: 12px;
                    color: white;
                    position: relative;
                }
                
                th:last-child {
                    border: 0;
                }
                
                td {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    color: #808080;
                }
                
                tr:nth-child(even) td {
                    background: #f8f6ff;
                }
                
                .taskbar {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    flex-wrap: wrap;
                    background-color: rgba(180, 232, 255, 0.4);
                    width: 50%;
                    margin-left: auto;
                    margin-right: auto;
                    height: 40px;
                }
                
                .workflow-header {
                    display: flex;
                    flex-direction: row;
                    border: 1px grey solid;
                    margin: 1px;
                    color: rgba(205, 174, 231, 1.0);
                }
                
                .pipe {
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
                
                .btn {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    margin-left: 380px;
                    margin-right: 100px;
                    margin-top: 10px;
                }
                
                .active2 {
                    background-color: rgba(22, 159, 219, 1.0);
                    margin-right: 10px;
                    height: 40px;
                }
                
                .disabled {
                    background-color: rgba(22, 159, 219, 1.0);
                    height: 40px;
                    width: 100px;
                }
                
                .row {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin: 0;
                }
                
                .header-bar {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: flex-start;
                    background-color: rgba(180, 232, 255, 0.4);
                    border: 1px rgb(235, 235, 235) solid;
                    margin: 0;
                    color: black;
                }
                
                .empty {
                    width: 100%;
                    height: 10px;
                    background-color: white;
                }
                
                .image>img {
                    width: 30px;
                    height: 30px;
                    margin-left: 30px;
                    margin-right: 30px;
                    margin-top: 5px;
                }
                
                .row .content {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }
                
                .left,
                .right {
                    width: 50%;
                    height: 100%;
                    text-align: left;
                }
                
                .file {
                    width: 20%;
                }
                
                .table>.row>.col:nth-child(1) {
                    width: 5%;
                }
                
                .table>.row>.col:nth-child(2) {
                    width: 40%;
                }
                
                .table>.row>.col:nth-child(3) {
                    width: 55%;
                    color: black;
                }
                
                .card>h2 {
                    color: rgba(22, 159, 219, 0.6);
                }
                
                .card>p {
                    color: black;
                }
                
                .footer-bar {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin-bottom: 60px;
                    background-color: white;
                    border: 1px rgb(235, 235, 235) solid;
                    color: black;
                }
                
                hr {
                    color: rgba(214, 224, 233, 1.0);
                }