@media only screen and (max-width: 576px) {
    body {
        margin: 0;
        max-width: width 540px;
    }
}

@media only screen and (max-width: 768px) {
    body {
        margin: 0;
        max-width: width 720px;
    }
}

@media only screen and (max-width: 992px) {
    body {
        margin: 0;
        max-width: width 960px;
    }
}

body {
    margin: 0;
}