/* .img-dp16 {
    height: 16dp;
}

.img-dp20 {
    height: 20dp;
}

.img-dp30 {
    height: 30dp;
}

.img-dp32 {
    height: 32px;
    /* width: 32dp; 
}

.img-dp64 {
    height: 64px;
}

.img-dp120 {
    height: 120px;
}

.font-micro {
    font-size: 12sp;
}

.font-small {
    font-size: 14sp;
}

.font-normal {
    font-size: 16sp;
}

.font-medium {
    font-size: 18sp;
}

.font-large {
    font-size: 22sp;
}

.blue-light {
    background-color: rgba(180, 232, 255, 1);
}

.blue-medium {
    background-color: rgba(22, 159, 219, 1.0);
}

.blue-dark {
    background-color: rgba(0, 96, 169, 1.0);
}

.green-light {
    background-color: rgba(217, 229, 106, 1.0);
}

.green-medium {
    background-color: rgba(178, 199, 44, 1.0);
}

.green-dark {
    background-color: rgba(132, 160, 16, 1.0);
}

.red-light {
    background-color: rgba(231, 97, 98, 1.0);
}

.red-dark {
    background-color: rgba(195, 24, 42, 1.0);
} */