@import url("sizing.css");
@import url("media.css");
@import url("img.css");
@import url("header.css");
@import url("footer.css");
@import url("main.css");
body {
    font-family: 'Open Sans';
    color: rgba(214, 224, 233, 1.0);
}